@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #ef4444;
  --green: #00ff66;
}

@layer base {
  body {
    @apply bg-gray-50;
  }

  @font-face {
    font-family: "Poppins", sans-serif;
    src: url("/fonts/Poppins.woff2") format("woff2");
    font-display: swap;
  }
}

@layer components {
  .input-error {
    @apply border-red-500 focus:border-red-500 focus:ring-red-500;
  }
}
